<p>

	You can find Dutchtide at <a href="https://www.dutchtide.com/">https://www.dutchtide.com/</a>.

</p>

<p>

	Gas Station is the first season of Dutchtide. Gas Station features myriad gas stations in various atmospheres and places with archetecture that mixes both the past and the future.
	Gas station is a series focused on the Japanese word MA - which stands for emptiness. Each gas station is a representation for the ultimate capitalistic dream. But the concequenses are often overlooked. The effects of climate change are displayed in each one of them and romanticised through capitalism.
	All of the pieces created by Romar - the man behind Dutchtide - are minimalist but still extremely meaningful, an amazingly unique and creative implementation of vaporwave art.

</p>

<div class="images">

	<div>

		<img src="https://static.wixstatic.com/media/cdb4f2_3a7fe367a891404bab57e57a957a8e3e~mv2_d_7016_4961_s_4_2.png/v1/fill/w_1250,h_884,al_c,q_90,usm_0.66_1.00_0.01/pinkstation_a2.webp">

		<span class="description">

			Originally previewed on the Private Suite Discord as an experimental side-project, this piece is the first fully rendered Dutchtide print.

			<br> <br>

			<a href="https://www.dutchtide.com/gas-station-01" style="font-size: 20pt;">Buy it Here</a>

		</span>

	</div>

	<div>

		<img src="https://static.wixstatic.com/media/cdb4f2_3587be54928c48798540a6aecc7a5934~mv2_d_7016_4961_s_4_2.png/v1/fill/w_1250,h_884,al_c,q_90,usm_0.66_1.00_0.01/graystation_a2.webp">

		<span class="description">

			This piece contains the text "ヤシ油", which translates to palm oil - some sort of alternative fuel in an optimized world. A road, seemingly infinite, allows the viewer to imagine their own world based off of the warm dystopian visuals provided in this piece.

			<br> <br>

			<a href="https://www.dutchtide.com/gas-station-02" style="font-size: 20pt;">Buy it Here</a>

		</span>

	</div>

	<div>

		<img src="https://static.wixstatic.com/media/cdb4f2_ec0d358538f14826be9bf592da0429af~mv2_d_7016_4961_s_4_2.png/v1/fill/w_1250,h_884,al_c,q_90,usm_0.66_1.00_0.01/bluestation_a2.webp">

		<span class="description">

			Gas Station 03 is topped with the text "オアシス", which translates to oasis - thus the sandy environment and palm trees.

			<br> <br>

			<a href="https://www.dutchtide.com/gas-station-03" style="font-size: 20pt;">Buy it Here</a>

		</span>

	</div>

</div>
